.header {
    width: 100%;
    height: 70px;
    background-color: #003843;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),
    0 6px 10px 0 rgba(0,0,0,.14),
    0 1px 18px 0 rgba(0,0,0,.12);
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.greetings {
    width: 100%;
    height: 300px;
    background-image: url("img/main-background.png");
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right {
    background-color: black;
    width: 40%;
    height: 50%;
    opacity: 80%;
}

.left {
    background-color: black;
    width: 40%;
    height: 50%;
    opacity: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-img {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.left-text  {
    color: white;
    width: 40%;
}

.left-text span {
    font-size: 20px;
}

.content {
    background-color: #fafafa;
    /* height: 100vh; */
}

h1 {
    padding: 15px 0 15px 100px;
    margin: 0;
}

.wrapper {
    display: flex;
    width: calc(100% - 100px);
    height: calc(100vh - 440px);
    justify-content: space-around;
    padding-left: 100px;
    margin: 0 -10px;
}

.left-content {
    margin: 0 10px;
    padding: 10px 0 0 10px;
    width: 60%;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    height: 100%;
}

.right-content {
    padding: 10px 0 0 10px;
    margin: 0 10px;
    width: 40%;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    height: 100%;
}
